html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
h2,
p {
  margin: 0;
  padding: 0;
}
picture {
  display: inline-block;
  width: 100%;
  text-align: center;
}
img {
  max-inline-size: 100%;
}
