@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

@font-face {
  font-family: "Burnak Big Condensed Bold";
  font-weight: 600;
  src: url("../fonts/BurbankBigCondensed-Bold.otf") format("opentype");
}
