.button {
  font: var(--button);
  color: var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--sm);
  padding: var(--md) var(--lg);
  cursor: pointer;
}
.button--secondary {
  background-color: transparent;
  color: var(--gray);
}
.button--primary {
  background-color: var(--primary);
}
.button--big {
  font: var(--button-big);
}
