.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--secondary);
  padding-inline-start: var(--md);
  padding-inline-end: var(--md);
  height: var(--h-header);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header .brand__icon {
  margin-inline-end: 24px;
}
.nav {
  width: 100%;
  height: calc(100vh - var(--h-header));
  background: var(--secondary);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: var(--h-header);
  left: 0;
  transform: scale(1, 0);
  transform-origin: top;
  transition: all 0.5s ease;
}
.nav.active {
  transform: scale(1, 1);
}
.nav .icons {
  display: none;
}
@media screen and (min-width: 768px) {
  .nav {
    width: 50%;
    right: 0;
    left: initial;
  }
}

@media screen and (min-width: 1111px) {
  .header {
    padding-inline-end: 0;
  }
  .nav {
    width: initial;
    position: initial;
    height: initial;
    background-color: transparent;
    transform: initial;
    flex-direction: row;
    flex: 1;
    justify-content: space-between;
  }
}
