.hero {
  margin-block-start: var(--h-header);
  line-height: 0;
}
.hero__image img {
  width: 100%;
  display: block;
}
@media screen and (min-width: 1400px) {
  .hero__image {
    max-block-size: 90vh;
    overflow: hidden;
  }
  .hero__image img {
    max-block-size: inherit;
    object-fit: cover;
    object-position: center;
  }
}
