.info {
  position: relative;
  line-height: 0;
}
.info__image img {
  width: 100%;
  display: block;
}

.info .button {
  display: none;
}
@media screen and (min-width: 768px) {
  .info .button {
    display: inline-block;
    position: absolute;
    left: 50%;
    bottom: 25%;
    z-index: 1;
    transform: translate(-50%, 25%);
  }
}

@media screen and (min-width: 1400px) {
  .info__image {
    max-block-size: 80vh;
    overflow: hidden;
  }
  .info__image img {
    max-block-size: inherit;
    object-fit: cover;
    object-position: top;
  }
}
